* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFCE00;
    font-family: 'Saira', Arial, Helvetica, sans-serif;
    display: flex;
}
.date-picker {
    position: relative;
    width: 100%;
    max-width: 320px;
    height: 60px;
    margin: 30px auto;
    background-color: #FFF;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    user-select: none;
}

.date-picker .selected-date {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    text-align: center;
    color: #313131;
    font-size: 28px;
}

.date-picker .selected-date:hover {
    background-color: #F3F3F3;
}

.date-picker .dates {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;

    background-color: #FFF;
}

.date-picker .dates .month-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #EEE;
    border-top: 2px solid #EEE;
}

.mth {
    padding: 5px;
}

.mth:hover {
    background-color: #F3F3F3;
}

.date-picker .dates .month-header .arrows {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
    font-size: 20px;
}

.date-picker .dates .month-header .arrows:hover {
    background-color: #F3F3F3;
}

.date-picker .dates .month-header .arrows:active {
    background-color: #00CA85;
}

.weekDays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    height: 35px;
}

.weekDays div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.visible-area {
    display: grid;
    height: 200px;
}

.days {
    grid-template-columns: repeat(7, 1fr);
}


.day {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
}

.day:hover {
    background-color: #F3F3F3;
}

.day.selected {
    background-color: #00CA85;
}

.prev, .next {
    color: #c5c5c5;
}

.months {
    grid-template-columns: repeat(3, 1fr);
}